*{
    font-family: "Poppins", sans-serif;
}

html {
    background-color: var(--is-color-light-lowest);
    width: 100%;
}

.is-primary {
    background-color: var(--is-color-primary-high);
}

.classes-container {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    #searchbar {
        background-color: var(--is-color-light-lowest);
        border: 0.125rem solid var(--is-color-primary-low);
        border-radius: 0.5rem;
        height: 2rem;
    }

    .class {
        display: grid;
        grid-auto-flow: column;
        width: 25rem;
        height: 5rem;
        .is-primary {
            background-color: var(--is-color-primary-high);
        }
    }
}

.assignment-container {
    margin-top: 8rem;
}

.modal-content {
    border: none;
    border-radius: 0.3125rem;
    .is-primary {
        background-color: var(--is-color-primary-high);
        position: relative;
        margin-left: 10rem;
        width: 16rem;
    }
}

.time {
    width: 8rem;
}