* {
    font-family: "Poppins", sans-serif;
}

html {
    background-color: var(--is-color-light-lowest);
    width: 100%;
}

.box {
    margin-top: 5rem;
}

.dayNames {
    display: flex;
    justify-content: space-around;
}

.dates {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}