* {
    font-family: "Poppins", sans-serif;
}

html {
    background-color: var(--is-color-light-lowest);
    width: 100%;
}

.box {
    margin-top: 5rem;
}

.names {
    display: flex;
    justify-content: space-evenly;
}