* {
    font-family: "Poppins", sans-serif;
}

html {
    background-color: var(--is-color-light-lowest);
    width: 100%;
}

.button {
    &.is-primary {
        background-color: var(--is-color-primary-high);
    }
}

.mainContent {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.class {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 18rem;
    height: fit-content;
    .is-primary {
        background-color: var(--is-color-primary-high);
        grid-column-end: 4;
        height: 3rem;
        border-radius: 0.7rem;
        &:hover {
            background-color: var(--is-color-primary-medium);
        }
    }
    .subject {
        grid-column-start: 1;
        grid-row-start: 1;
        font-size: 1.4rem;
    }
    .time {
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex;
        align-items: center;
        background-color: var(--is-color-primary-low-emphasis);
        color: var(--is-color-dark-high);
        border: none;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
    }
    .timeData {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-left: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        color: var(--is-color-dark-high);
    }
    .edit {
        background-color: var(--is-color-dark-lowest);
        width: 2rem;
        height: 2rem;
        color: var(--is-color-dark-high);
        grid-column-start: 2;
        grid-row-start: 2;
        display: flex;
        border-radius: 0.4rem;
        font-size: 0.8rem;
        margin-left: 0.3rem;
        &:hover {
            background-color: var(--is-color-dark-low);
            color: var(--is-color-light-high);
        }
    }
    .divider {
        background-color: var(--is-color-dark-lowest);
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 0.5rem;
    }
    .classDescription {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
