* {
    font-family: "Poppins", sans-serif;
    z-index: 10;
}
.navbar.is-fixed-top {
    left: 17rem;
    padding-right: 2rem;
}

.fa-bell {
    font-size: 1.3rem;
    padding: 1rem;
    background-color: var(--is-color-dark-lowest);
    border-radius: 30%;
    :hover {
        color: var(--is-color-light-high);
    }
}

.navbar-dropdown {
    background-color: var(--is-color-primary-low);
    border-radius: 0.5rem;
    span {
        color: var(--is-color-light-high);
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding: 0.6rem;
    }
    a {
        color: var(--is-color-light-high);
        .navbar-item {
            :hover {
                background-color: var(--is-color-primary-low);
                color: var(--is-color-light-high);
            }
        }
    }
}

.navbar-link {
    background-color: var(--is-color-dark-lowest);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}
