* {
    font-family: "Poppins", sans-serif;
}

.menu-container {
    height: 100vh;
    margin-right: auto;
    z-index: 10;
    border: none;
    border-radius: 0px 30px 30px 0px;
    background-color: var(--is-color-primary-high);
    a {
        color: var(--is-color-light-high);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0.3rem;
        span {
            display: flex;
            justify-content: center;
            padding: 1.2rem;
            font-size: 1.2rem;
        }
    }
    li {
        a:hover {
            background-color: transparent;
            border-left: 4px solid var(--is-color-light-high);
            color: var(--is-color-light-high);
        }
    }
}

.menu-list a.is-active {
    background-color: transparent;
    color: var(--is-color-light-high);
    border-left: 0.25rem solid var(--is-color-light-high);
}

.fa-times {
    padding: 1.5rem;
    font-size: 25px;
    color: var(--is-color-light-high);
    cursor: pointer;
}

.fa-bars {
    padding: 1.5rem;
    font-size: 25px;
    color: var(--is-color-light-high);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .menu-container {
        width: 14%;
        min-width: auto;
    }
}